
codecov
flake8
interrogate
isort
# Note: used for kwarray.group_items, this may be ported to mmcv in the future.
kwarray
parameterized
pytest
pytest-cov
pytest-runner
ubelt
xdoctest >= 0.10.0
yapf
lyft_dataset_sdk
networkx>=2.5
numba # you should install numba==0.53.0 if your environment is cuda-9.0
numpy
nuscenes-devkit
open3d
plyfile
scikit-image
# by default we also use tensorboard to log results
tensorboard
trimesh
mmengine
mmdet


mm
codecov
flake8
interrogate
isort
# Note: used for kwarray.group_items, this may be ported to mmcv in the future.
kwarray
parameterized
pytest
pytest-cov
pytest-runner
ubelt
xdoctest >= 0.10.0
yapf
lyft_dataset_sdk
networkx>=2.5
numba # you should install numba==0.53.0 if your environment is cuda-9.0
numpy
nuscenes-devkit
open3d
plyfile
scikit-image
# by default we also use tensorboard to log results
tensorboard
trimesh
mmdet

mmengine==0.6.0
mmcv==2.0.0rc3
mmdet==3.0.0rc5
mmaction2==1.0rc3